@import "variables"; 
@import "mixins";

*,
*::after,
*::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix{
    clear: both;
}
.container{
    @include container (1256px);
}
.container_2{
    @include container (1182px);
}
@media (max-width:750px){
    .container{
        padding: 0 10px;
    }
    .container_2{
        padding: 0 10px;
    }
}
@media (max-width:450px){
    .container{
        padding: 0 10px;
    }
    .container_2{
        padding: 0 10px;
    }
}
.header{
    position: relative;
    top: 0;left: 0;
    display: flex;
    color: $mainColor;
    flex-direction: column;
    border-bottom: 1.5px solid $secondColor;
}
@media (max-width:750px){
    .header{
        flex-direction: row;
        border: none;
    }
    .logo{
        margin: 0;
    }
}
.logo{
    max-width: 270px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5px;
}
@media (max-width:750px){
    .header{
        flex-direction: row;
        border: none;
    }
    .logo{
        margin: 0;
    }
}
.logo-icon{
    width: 70px;
    height: 70px;
}
.logo-name{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
}

/* nav */
.nav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 24px;
}
.burger_menu{
    display: none;
}

@media(max-width:750px){
    .nav{
        display: none;
    }
    .burger_menu{
        display: block;
    }
}
.menu{
    display: flex;
    height: 32px;
    > li {
        margin: 0px  21px;
        text-align: center;
        position: relative;
        cursor: pointer;
        a{
            display: inline-block;
            text-align: center;
        }
        &:hover ul{
            display: block;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    ul{
        display: none;
        position: absolute;
        min-width: 155px;
        left: -43%;
        top: 100%;
        z-index: 2;
        background-color: $mainColor;
        color: #fff;
        padding: 0 24px;
        li{
            font-size: 14px;
            margin: 18px 0;
            a{
                display: inline-block;
                font-size: 14px;
            }
        }
    }
}

.first-menu-arrow{
    margin-right: 21px;
}

.menu-sections img{
    margin-left: 7px;
}
.menu-news img{
    margin-left: 7px;
}


/* banner */
.banner{
    text-align: center;
    margin: 30px auto 60px;
    width: 100%;
    overflow: hidden;
    max-width: 1182px;
}
.banner-image{
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 1182px;
}
.owl2-body{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: 35px;
    z-index: 4;
}
.test{
    padding: 20px 0;
    overflow-y: hidden;
    width: 100%;
}
.arrow-gold-hor{
    position: relative;
}
.arrow-icon{
    position: absolute;
    top: -17px;
    left: 0;
}
.arrow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1256px;
    height: 1px;
    background-color: $secondColor;
}
/* About our */
.content{
    display: grid;
    justify-content: center;
    grid-template-columns: 47.59% 1px 52.41%;
    grid-template-rows: auto;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1182px;
}
.content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 7px;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.content-text p{
    text-indent: 30px;

}

@media(max-width:960px){
    .content-text{
        p{
            @include textOverflow(4);
        }
    }
}
@media  only screen and  (max-width:888px){
    .content-text 
    {
        p{
            @include textOverflow(3);
        }
    }
}


.content__item{
    box-sizing: content-box;
    max-width: 150px;
    max-height: 36px;
    padding: 1px;
}
.content-banner{
    width: 100%;
}
.about_head_text{
    width: 52.41%;
    float: right;
}
.about_head_text h2{
    margin-left: 20px;
    margin-bottom: -20px;
    text-transform: uppercase;
    @include textSize(30px, 33px, 600);
    color: $mainColor;
}
.content-banner img{
    margin-left: 20px;
    max-width: 598px;
    width: 100%;
    height: auto;
}
 @media (max-width:750px){
    .content{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }
    .content-text{
        padding-right: 0;
    }
    .content-banner img{
        max-width: 750px;
        margin-left: 0;
    }
    .content-text p{
        @include textOverflow(8);
        line-height: 30px;
    }
    .about_head_text {
        width: 100%;
        float: left;
    }
    .about_head_text h2{
        margin-left: 80px;
        font-size: 20px;
        line-height: 28px;
    }
} 
/* arrow-ver */
.arrow-gold-ver{
    background-color: $secondColor;
    margin-top: -50px;
    height: calc(100% + 50px);
    width: 1px;
}
@media (max-width: 750px){
    .arrow-gold-ver{
        display: none;
    }
}

/* content-2 */
.content-2{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 47.59% 1px 52.41%;
    grid-template-rows: auto;
    margin-bottom: 50px;
    max-width: 1182px;
}
.content-banner-2{
    width: 100%;
    padding-right: 20px;
}
.news_head_text{
    width: 47.59%;
    text-align: end;
}
.news_head_text h2{
    margin-right: 20px;
    margin-bottom: -20px;
    text-transform: uppercase;
    @include textSize(30px, 33px, 600);
    color: $mainColor;
}

.content-banner-2 img{
    max-width: 541px;
    width: 100%;
    height: auto;
}
.content-text-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
}
.content-text-2-p{
    text-indent: 30px;
}
@media (max-width:1069px){
    .content-text-2-p{
        @include textOverflow(3);
        line-height: 25px;
    }
}
.content-name{
    padding: 4px 12px;
    background-color: $mainColor;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
}
.content-data{
    color: $secondColor;
}

.content__item-2{
    padding: 2px;
}
@media (max-width:750px){
    .content-2{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .content-banner-2{
        padding-right: 0;
    }
    .content-banner-2 img{
        max-width: 750px;
    }
    .content-text-2{
        margin-left: 0;
    }
    .content-text-2-p{
        @include textOverflow(5);
        line-height: 25px;
    }
    .news_head_text{
        width: 100%;
        text-align: left;
        margin-left: 80px;
    }
    .news_head_text h2{
        font-size: 20px;
        line-height: 28px;
    }

}
/* blog */
.border-top{
    border-top: 1px solid $secondColor;
    max-width: 1256px;
    width: 100%;
}
.border-middle{
    background-color: $secondColor;
    width: 1px;
    height: auto;
    margin: 0px 20px;
}
.blog{
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1182px;
}
.blog-item{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 591px;
    width: 100%;
    padding-top: 20px;
}

.blog-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.blog-body h5{
    @include textSize(17px, 30px, 400);
    @include textOverflow(2);
}

@media (max-width:960px){
    .blog-body h5{
        line-height: 25px;
    }
}

.blog-banner img{
    width: 100%;
    height: auto;
}
@media (max-width:750px){
    .border-middle{
        display: none;
    }
    .border-top{
        display: none;
    }
    .blog-banner{
        display: none;
    }
    .blog-item{
        display: flex;
        flex-direction: column;
        max-width: 750px;
        border-top: 1px solid $secondColor;
        padding-bottom: 24px;
    }
    .blog{
        flex-direction: column;
        margin-bottom: 6px;
    }
    .blog-body p{
        margin: 0 0 10px;
    }
    .blog-body h5{
        line-height: 30px;
        margin-top: 0 10px;
    }
}
/* Banner */
.owl-dots{
    position: relative;
    top: -40px;
    left: 0;
}

.owl2-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 86%;
    margin-left: 3%;
    text-align: left;
    margin-top: 10%;
}

.owl2-body h3{
    color: #fff;
    @include textSize(30px, 42px, 400);
}
.content__item-fb{
    box-sizing: content-box;
    max-width: 150px;
    max-height: 36px;
    padding: 1px;
}
.slide{
    display: inline-block;
    position: relative;
}
.slide img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.slide::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    filter: drop-shadow(0px 0px 0px #000);
    background: linear-gradient(to right, rgba(38,85,140,0.6) 45%, rgba(38,85,140,0.2) 100% );
    z-index: 3;
}
@media (max-width:750px){
    .banner{
        margin: 0;
    }
    .owl2-body h3{
        font-size: 22px;
        line-height: 31px;
    }
}
@media (max-width:450px){
    .owl2-body h3{
        font-size: 15px;
        line-height: 21px;
    }
}
/* Forms */

.form-head{
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
	max-width: 616px;
	margin: 0 auto;
}
.form-head h3{
    @include textSize(32px, 42px, 600);
	padding-left: 20px;
	border-left: 1px solid $secondColor;
	text-transform: uppercase;
	color: $mainColor;
    margin-bottom: -20px;
}

/*  */
.form-head input{
	width: 100%;
	margin-bottom: 27px;
	height: 35px;
	border: 1px solid $mainColor;
	padding-left: 10px;
}

.form-head input:first-child{
    margin-top: 37px;
}

.form-textarea{
    resize: none;
    width: 100%;
	height: 110px;
	margin-bottom: 30px;
    border: 1px solid $mainColor;
    padding: 10px;

}
.content__item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.content__item-3::before{
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width:750px){
    .form-head{
        max-width: 750px;
        margin: 0 17px;
    }
    .form-head h3{
        margin-left: 63px;
        padding-left: 0;
        border-left: none;
        font-size: 20px;
        line-height: 28px;
    }
    .form-head input{
        padding-left: 0;
    }
    .form-textarea{
        margin-bottom: 17px;
    }
}
@media (max-width:450px){
    .form-head h3{
        margin-left: 43px;
    }
    .form-head input:first-child{
        margin-top: 10px;
    }
}
/* Footer */
footer{
    background-color: $mainColor;
    margin-top: 60px;
    padding-top: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
}
.footer h6{
    font-size: 17px;
    font-weight: 400;
}
.first-col{
    grid-area: first-col;
    font-size: 15px;
    font-weight: 400;
}
.first-col p img{
    margin-right: 20px;
}
.first-col p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.second-col, .third-col, .fourth-col {
    display: flex;
    flex-direction: column;
}
.second-col{
    grid-area: second-col;
}
.second-col a{
    margin-bottom: 15px;
    font-size: 17px;
}
.second-col a:first-child{
    margin-bottom: 0;
}
.third-col{
    grid-area: third-col;
}
.third-col a{
    margin-bottom: 15px;
    font-size: 17px;
}
.fourth-col a{
    margin-bottom: 10px;
    font-size: 15px;
}
.fourth-col{
    grid-area: fourth-col;
}
.fifth-col{
    grid-area: fifth-col;
    max-width: 258px;
    font-size: 15px;
}
.fifth-col h6{
    margin-bottom: 15px;
}
.fifth-col p{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
body, html{
    overflow-x: hidden;
}
.fifth-col p img{
    margin-right: 15px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    margin: 0px 30px 0px 11px;
}
.upper-col{
    display: flex;
    justify-content: space-around;
    max-width: 550px;
    width: 100%;
    grid-area: upper-col;
}
.upper-col h6{
    margin-bottom: 15px;
}
/* Footer 960 */
@media screen and (max-width: 960px){
    .footer{
        display: grid;
        grid-template-areas: 
        "upper-col upper-col"
        "first-col fifth-col";
        max-width: 550px;
        margin: 0 auto;
        row-gap: 40px;
    }
    .upper-col{
        display: flex;
        justify-content: space-between;
    }
    .fifth-col{
        padding-left: 35px;
    }
}
@media (max-width:750px){
    .upper-col{
        display: none;
    }
    footer{
        margin-top: 40px;
    }
} 
@media (max-width:650px){
    .footer{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .fifth-col{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .footer-bottom{
        text-align: center;
    }
} 
#fixed-button{
    position: fixed;
    bottom: 2vh;
    right: 4vh;
    display: none;
    z-index: 1000;
    transition: 5s;
}

/* Feedback */
.navigate{
    margin: 30px 0 0px;
    font-size: 15px;
}
.navigate_road{
    color: $mainColor;
}
.navigate_icon{
    color: $secondColor;
    margin: 0 14px;
}
.feedback_banner{
    @include textSize(30px, 42px, 600);
	text-transform: uppercase;
	color: $mainColor;
    float: right;
    width: 50%;
    position: relative;
    top: 25px;
    left: 10px;
}
@media (max-width:710px){
    .feedback_banner{
        font-size: 25px;
    }
}
.feedback_info{
    display: grid;
    grid-template-areas: "contact arrow_ver feedback_forms";
    grid-template-columns: 50% 1px 50%;
    margin-bottom: 25px;
    max-height: 412px;
}
.feedback_contacts{
    display: grid;
    grid-template-areas: 
    "call fax"
    "msg msg"
    "map map";
    max-width: 357px;
    margin: 8.3% 15.1% 11.4%;
    font-size: 15px;
}
.call{
    grid-area: call;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.call a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fax{
    grid-area: fax;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.msg{
    grid-area: msg;
    
}
.msg a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.forms_feedback{
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 616px;
	margin: 4.2% 7.6% 0 7.6%;
}
.forms_feedback_alt{
	display: none;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 750px;
    margin: 0 10px;
    margin-top: 5px;
}
.alt_block{
    display: none;
}
.forms_feedback input{
	width: 100%;
	margin-bottom: 27px;
	height: 35px;
	border: 1px solid $mainColor;
	padding-left: 10px;
}
.forms_feedback_alt input{
	width: 100%;
	margin-bottom: 27px;
	height: 35px;
	border: 1px solid $mainColor;
	padding-left: 10px;
}
.form-textarea{
    resize: none;
    width: 100%;
	height: 110px;
	margin-bottom: 30px;
    border: 1px solid $mainColor;
    padding: 10px;
}
@media (max-width: 750px){
    .feedback_info{
        display: flex;
        flex-direction: column;
        max-height: auto;
    }
    .feedback_contacts{
        max-width: 750px;
        margin: 0;
        grid-gap: 50px;
    }
    .feedback_banner{
        width: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 32px;
    }
    .forms_feedback{
        display: none;
    }
    .forms_feedback_alt{
        display: flex;
        margin-bottom: 44px;
    }
    .alt_block{
        display: block;
    }
    .media_block{
        display: none;
    }
    .form-textarea{
        margin-bottom: 17px;
    }
}
@media (max-width:450px){
    .feedback_banner{
        font-size: 20px;
        line-height: 28px;
    }
}

.gerb_link{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}
.gerb_item{
    width: 20%;
}
.gerb_item{
    text-align: center;
}
.gerb_block{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 177px;
    background-color: #f1f1f1;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    transition: .2s ease-in;
}
.gerb_block:hover{
    transform: scale(1.07);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.5);

}
@media (max-width: 750px){
    .gerb_link{
        flex-direction: column;
        align-items: center;
    }
    .gerb_item{
        width: 100%;
        max-width: 266px;
        margin: 14px 0;
    }
}
/* About */
.about_banner{
    @include textSize(30px, 42px, 600);
	text-transform: uppercase;
	color: $mainColor;
    float: right;
    width: 53.13%;
    position: relative;
    top: 20px;
    border-left: 1px solid $secondColor;
    padding-left: 16px;
}

.first_block_about{
   display: flex;
   align-items: center;
}
@media (max-width:1100px){
    .first_block_about{
        display: block;
    }
}

.first_block_about img{
    max-width: 554px;
    width: 46.87%;
    min-width: 46.87%;
    float: left;
    margin-right: 16px;
    margin-bottom: 10px;
}
.p_about{
    line-height: 30px;
    font-size: 17px;
}
@media (max-width:750px){
    .p_about{
        width: 100%;
    }
}
.p_about h3{
    @include textSize(22px, 30px, 500);
    color: $mainColor;
}
.p_about p{
    text-indent: 30px;
}
.second_block_about{
    text-indent: 30px;
    font-size: 17px;
    line-height: 30px;
}

.third_block_about img{
    width: 46.87%;
    max-width: 554px;
    float: right;
    margin-left: 16px;
    margin-bottom: 10px;
}
.third_about_text{
    text-indent: 30px;
    line-height: 30px;
    font-size: 17px;
}
@media (max-width:750px){
    .first_block_about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first_block_about img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .third_block_about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .third_block_about img{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .about_banner{
        width: 100%;
        float: left;
        left: 50px;
        border-left: none;
    }
    
}
/* Tourisim */

.tourisim_banner{
    display: flex;
    align-items: flex-end;
    margin-top: 27px;
    margin-bottom: -20px;
}
.tourisim_banner h2{
    color: $mainColor;
    @include textSize(30px, 42px, 600);
    text-transform: uppercase;
    width: 69%;
    height: 42px;
    position: relative;
    left: 65px;
    top: 5px;
}
.tourisim_banner h5{
    @include textSize(22px, 30px, 500);
    width: 31%;
    padding-left: 20px;
}
@media (max-width:750px){
    .tourisim_banner h5{
        display: none;
    }
}
.tourisim_news{
    display: grid;
    grid-template-columns: 69% 31%;
}
.main_news{
    margin-right: 17px;
    margin-left: 30px;
    max-width: 835px;
}
.main_news_item{
    display: grid;
    grid-template-columns: 40.72% 59.28%;
    border-bottom: 1px solid $secondColor;
    padding-bottom: 30px;
    margin-top: 30px;
}
.main_news_item img{
    width: 100%;
    max-width: 340px;
    height: auto;
}

.main_news_item_blog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}
.main_news_item_blog span{
    color: $secondColor;
    @include textSize(15px, 21px, 400);
}

.main_news_item_blog h3{
    @include textSize(17px, 23px, 400);
    @include textOverflow(2);
}

.main_news_item_blog p{
    @include textOverflow (3);
    color: $mainColor;
    @include textSize(15px, 21px, 400);
}
@media (max-width: 1100px){
    .main_news_item_blog p{

        -webkit-line-clamp: 2;
    }
    .main_news_item_blog p{
        
        line-height: 17px;
    }
    .main_news_item_blog h3{
        line-height: 19px;
    }
    .main_news_item_blog span{
        line-height: 17px;
    }
}
.more_news{
    display: flex;
}
.more_news_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}
.more_new_item{
    padding-top: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid $secondColor;
}
.more_new_item h6{
    @include textSize(15px, 21px, 400);
    @include textOverflow(3);
    max-width: 308px;
    margin-bottom: 10px;
}
.more_new_item span{
    color: $secondColor;
    @include textSize(15px, 21px, 400);
}
@media (max-width:750px){
    .tourisim_banner h2{
        font-size: 25px;
        line-height: 35px;
    }
    .main_news_item_blog p{
        line-height: 21px;
    }
    .main_news_item_blog h3{
        line-height: 23px;
    }
    .main_news_item_blog span{
        line-height: 21px;
    }
    .more_news{
        display: none;
    }
    .more_news_list{
        display: none;
    }
    .tourisim_news{
        display: grid;
        grid-template-columns: 100%;
    }
    .main_news{
        margin: 0;
    }
    .main_news_item{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .main_news_item_blog{
        justify-content: space-between;
    }
}
@media (max-width:450px){
    .tourisim_banner h2{
        font-size: 20px;
        line-height: 28px;
        left: 70px;
        top: 13px;
    }
    .main_news_item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_news_item img{
        width: 100%;
        max-width: 600px;
        margin-right: 0;
    }
    .main_news_item_blog{
        margin-left: 0;
    }

}
.image_block_about img{
    max-width: 1182px;
    width: 100%;
    height: auto;
}
.arrow_of_gerb{
    max-width: 1256px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 22px;
    align-items: center;
}
.gerbs-collect{
    display: flex;
    max-width: 330px;
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
}
.arrow_bottom{
    background-color: $secondColor;
    height: 1px;
    max-width: 1256px;
    width: 100%;
}
@media (max-width: 750px){
    .gerbs-collect{
        max-width: 180px;
    }
    .gerbs-collect img{
        width: 25.5px;
        height: 20px;
    }
    .icon_of_arrow{
        width: 40px;
        height: 24px;
    }
    .arrow_of_gerb{
        top: 13px;
    }
}
.navigate_bar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: $mainColor;
}
.navigate_bar *{
    margin-right: 6px;
}
.navigate_bar span{
    height: 30px;
    display: flex;
    align-items: center;
}
.navigate_bar button{
    border: none;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: $mainColor;
}
.main_news_page_img{
    width: 100%;
    height: auto;
}
.main_news_page_headtext{
    @include textSize(22px, 28px, 500);
    margin: 10px 0 5px;
}
/*  */

.burger_menu{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.burger_menu-btn {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.burger_menu-btn span,
.burger_menu-btn span::before,
.burger_menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: $mainColor;
}
.burger_menu-btn span::before,
.burger_menu-btn span::after {
    content: '';
    display: block;
    transition: 0.5s;
}
.burger_menu-btn span::before {
    transform: translateY(-5px);
}
.burger_menu-btn span::after {
    transform: translateY(5px);
}
.burger_menu-btn_active span{
    background-color: #fff;
}
.burger_menu-btn_active span:before {
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
    background-color: #fff;

}
.burger_menu-btn_active span:after {
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
    background-color: #fff;
}
.burger_menu-list{
    position: absolute;
    top: 0;
    right: -600px;
    z-index: 3;
    width: 30%;
    min-width: 293px;
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainColor;
    transition: 0.5s;
    transform: translateX(100%);
}
@media (max-width:450px){
    .logo{
        justify-content: flex-start;
        margin: 0;
    }
    .burger_menu-list{
        width: calc(100% - 70px);
        padding-top: 0;
        min-width: 100px;
    }
}
.burger_menu-list_active{
    transform: translateX(0%);
    right: -10px;
}

.burger_menu-list ul li{
    color: #fff;
}
.main_burger_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_burger_menu li{
    margin: 8px 0;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}
.section_burger_menu{
    display: none;
}
.section_burger_menu li a{
    font-size: 14px;
    line-height: 20px;
}
.section_burger_menu_active{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_burger_menu{
    display: none;
}
.news_burger_menu li a{
    font-size: 14px;
    line-height: 20px;
}
.news_burger_menu_active{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:750px){
    .burger_menu-list_active{
        display: none;
    }
}
.li{
    opacity: 0;
}
@keyframes navLinksFade {
    from{
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}
.arrow_by_burger img{
    width: 40px;
    height: 24px;
    float: right;
    position: relative;
}
.arrow_by_burger{
    width: 100%;
}
.arrow-gold-hor-burger{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
.arrow_band_burger{
    background-color: $secondColor;
    height: 1px;
    position: absolute;
    top: 11px;
    right: 0;
    z-index: 3;
    width: 100%;
}
.arrow_by_burger h2{
    @include textSize(20px, 28px, 600);
    color: #fff;
    display: none;
}
@media(max-width:450px){
    .arrow_by_burger h2{
        display: block;
        max-width: 198px;
        padding: 7px 0;
        margin-bottom: -15px;
        margin-left: 15px;
        text-align: center;
    }
}
@media (max-width:350px){
    .arrow_by_burger h2{
        margin-left: 7px;
        font-size: 17px;
    }
}

/* base files */


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}
/* 
a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible 
} */

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

a:focus-visible {
	background: none;
}
// button
.button{
	@include button(0.5rem 2.6rem);
}
.button--dione {
	@include button--dione($mainColor,0.5rem 2.6rem);
}
@media (max-width:853px){
	.button--dione{
		padding: 0.3rem 2.2rem;
	}
}
/* brown */
.button-brown {
	@include button(4% 12%);
}
.button--dione-brown {
	@include button--dione($secondColor,4% 12%)
}
/*  */
.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
    &::before,
    &::after{
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
    }
    &::before{
        content: '';
    }
}
.link--dia::before,
.link--dia::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition: {
        property: transform, opacity;
        duration: 0.3s;
        timing-function: cubic-bezier(0.2, 1, 0.8, 1); 
    }
}
.link--dia:hover::before,
.link--dia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}
.link--dia::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}
/* .link--dia::before, */
.link--dia:hover::after {
    transition-delay: 0.1s;
}
.link--dia:hover::before {
    /* 0s */
    transition-delay: 0.1s;
}
